.parallax2 h3 {
	color: white;
	text-align: center;
	width:100%;
	padding-top: 50px;
	padding-bottom: 20px;
}

.parallax2 {
	text-align: center;
}

.linkedin img:hover {
	background-color: red;
	color: white;
}

.footerholder {
	margin-top: 30px;
    bottom: 0;
    width: 100%;
    height: 100%
}

.footer {
	text-align: center;
	color: white;
    height: auto;
    margin: auto;
    width: 100%;
}

.footer a {
	color: #21c2de;
}

.box2 {
	width: 5.33em;
	height: 5.33em;
	display: inline-block;
	margin: 0 10em 0 10em;
	float: clear;
}

