.navbar {
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.navbar-trans {
	background: rgba(4, 18, 67, 0.5);
}

.navbar li {
	padding-right: 30px;
}

.nav-link:hover {
	color: #bebebe;
	cursor: pointer;
}

.navbar i {
	float: left;
	padding-right: 5px;
}

.nav-link {
	padding: 0;
}

.active {
	color: #bebebe !important;
}

.navbar a {
	color: white;
}