.slide3 {
	height: auto;
	background-color: #EC7063;
}

.slide3 h3 {
	color: white;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
}

.course1, .course2, .course3 {
	padding-left: 200px;
	height: auto;
	color: white;
	padding-bottom: 50px;
}

.coursecontent {
	width: 50%;
	float: left;
}

.coursecontent a {
	color: #1F618D;
	font-weight: 400;
}

.course1img, .course3img {
	width: 50%;
	float: left;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.course1img img, .course3img img {
	width: auto;
	margin: auto;
	border: 1px solid #ddd;
    border-radius: 4px;
}

.course1img img {
	height: 250px;
}

.course3img img {
	height: 350px;
}

.clear {
	clear: both;
}
