.slide2 {
	height: 100%;
	margin-top: 0;
}

.parallax {
    /* The image used 128, 0.7 */
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/parallax.jpg);

    /* Full height */
    height: auto; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;

}

.parallax a {
	color: #21c2de;
	font-weight: 400;
}

.parallax2 {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/parallax.jpg);

    /* Full height */
    height: auto; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;

}

#row1, #row2 {
	text-align: center;
}

#row1 .box {
	vertical-align: top;
	padding-top: 80px;
}

#row2 .box {
	vertical-align: top;
}

.icon {
	size: 50px;
}

.box {
	width: 25.00em;
	height: 18.75em;
	display: inline-block;
	padding: 20px;
	float: clear;
}

.box h3 {
	color: white;
	font-size: 30px;
}

.box p {
	color: white;
}

